*{
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
}
.content-left{
    width: 305px;
    height: 1315px;
    background-color: #FFFFFF;
}

.profile{
    width: 219px;
    height: 281px;
    text-align: center;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 46px;
}

.image-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;       /* cắt phần dư */
    display: flex;          /* căn giữa ảnh */
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    /* margin-top: 50px;
    margin-left: 74px; */
    border: 2px solid #000;
    align-items: center;
    margin-left: 34px;
}
.image-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;     /* fit hình không méo, cắt nếu dư */
}

.profile h4 {
    font-size: 18px;
    font-weight: 500;
    color: #2B2B2B;
    line-height: 124%;
    letter-spacing: 0%;
    text-align: center;
}
.profile p {
    font-size: 15px;
    font-weight: 400;
    color: #767676;
    line-height: 24px;
    letter-spacing: 0%;
}
.icon-mxh {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 15px; /* thay margin-right = gap sẽ đều hơn */
}

.icon-mxh div {
    width: 32px;
    height: 32px;
    background-color: #FFB400;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    margin-top: 25px;
    margin-left: 40px;
}

.info-table {
    border-collapse: collapse;
    margin-left: 40px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0%;
}